# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
*.iml
.idea/
.vscode/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/.cxx/
*.keystore
*.jks

# Misc
*.log
.DS_Store
